
@{
    ViewBag.Title = "注册信息";
}

@*<h2>注册信息显示</h2>*@
<h2>注册成功！</h2>
<div>
    用户编号:@TempData["CustomerCode"]
</div>
<div>
    用户名:@TempData["CustomerName"]
</div>
 <div>
     密码:@TempData["password"]
</div>
<div>
    电话:@TempData["telephone"]
</div>
<div>
    邮箱:@TempData["email"]
</div>
<div>
    @Html.ActionLink("返回登陆界面", "Index", "clientLogin")
</div>

