<ul>
    <li><a href="/onlineSell/bks_ShoppingTrolley/Index">我的购物车</a></li>
    <li><a href="/onlineSell/bks_CustomerAddress/Index">我的收货地址</a></li>
    <li>我的订单</li>
    <li>个人信息</li>
    <li><a href="@Url.Action("exit","Default")">退出</a></li>
</ul>