<ul>
    <li><a href="/onlineSell/bks_ShoppingTrolley/Index">我的购物车</a></li>
    <li><a href="/onlineSell/bks_CustomerAddress/Index">我的收货地址</a></li>
    <li><a href="/onlineSell/bks_OrderInfo/Index">我的订单</a></li>
    <li><a href="/onlineSell/Default/Show">个人信息</a></li>
    <li><a href="@Url.Action("exit","Default")">退出</a></li>
</ul>